*.swp
*.pyc
*.pcap
*.pcapng
*.jpg
*.o
*.obj
*.log
sw_conf.json
logs/
results/
capture/
controlplane/thrift-ids/gen-cpp/controller_client
*.state
*.map
physical_process/*/variables/
.git-old
whitelist_v4.json
